In [1]:
import sqlite3

def connect_db():
    conn = sqlite3.connect("supermarket.db")
    cursor = conn.cursor()
    
    # Create Products Table
    cursor.execute("""
        CREATE TABLE IF NOT EXISTS products (
            product_id INTEGER PRIMARY KEY AUTOINCREMENT,
            name TEXT UNIQUE,
            quantity INTEGER,
            price REAL
        )
    """)
    
    conn.commit()
    conn.close()
    
connect_db()
print("Database Initialized.")

Database Initialized.

In [2]:
def insert_sample_products():
    conn = sqlite3.connect("supermarket.db")
    cursor = conn.cursor()
    
    sample_products = [
        ("Milk", 20, 1.50),
        ("Bread", 15, 2.00),
        ("Eggs", 30, 3.00),
        ("Rice", 25, 5.00)
    ]
    
    cursor.executemany("INSERT OR IGNORE INTO products (name, quantity, price) VALUES (?, ?, ?)", sample_products)
    conn.commit()
    conn.close()
    print("Sample products inserted.")

insert_sample_products()

Sample products inserted.

In [3]:
def view_products():
    conn = sqlite3.connect("supermarket.db")
    cursor = conn.cursor()
    cursor.execute("SELECT * FROM products")
    products = cursor.fetchall()
    conn.close()
    
    return products if products else "No products available."

# Example Usage:
view_products()

[(1, 'Milk', 20, 1.5),
 (2, 'Bread', 15, 2.0),
 (3, 'Eggs', 30, 3.0),
 (4, 'Rice', 25, 5.0)]

In [4]:
def add_product(name, quantity, price):
    conn = sqlite3.connect("supermarket.db")
    cursor = conn.cursor()
    
    try:
        cursor.execute("INSERT INTO products (name, quantity, price) VALUES (?, ?, ?)", (name, quantity, price))
        conn.commit()
        conn.close()
        return f"Product '{name}' added successfully."
    except sqlite3.IntegrityError:
        conn.close()
        return f"Product '{name}' already exists."

# Example Usage:
add_product("Butter", 10, 4.50)

"Product 'Butter' added successfully."

In [5]:
def purchase_product(name, quantity):
    conn = sqlite3.connect("supermarket.db")
    cursor = conn.cursor()
    
    cursor.execute("SELECT quantity, price FROM products WHERE name = ?", (name,))
    product = cursor.fetchone()
    
    if product and product[0] >= quantity:
        total_price = quantity * product[1]
        cursor.execute("UPDATE products SET quantity = quantity - ? WHERE name = ?", (quantity, name))
        conn.commit()
        conn.close()
        return f"Purchased {quantity} x {name} for ${total_price:.2f}. Please pay at the counter."
    else:
        conn.close()
        return "Product not available or insufficient stock."

# Example Usage:
purchase_product("Milk", 2)

'Purchased 2 x Milk for $3.00. Please pay at the counter.'

In [6]:
def search_product(name):
    conn = sqlite3.connect("supermarket.db")
    cursor = conn.cursor()
    
    cursor.execute("SELECT * FROM products WHERE name = ?", (name,))
    product = cursor.fetchone()
    conn.close()
    
    return product if product else "Product not found."

# Example Usage:
search_product("Eggs")

(3, 'Eggs', 30, 3.0)

In [7]:
def edit_product(name, new_name=None, new_quantity=None, new_price=None):
    conn = sqlite3.connect("supermarket.db")
    cursor = conn.cursor()
    
    if new_name:
        cursor.execute("UPDATE products SET name = ? WHERE name = ?", (new_name, name))
    if new_quantity is not None:
        cursor.execute("UPDATE products SET quantity = ? WHERE name = ?", (new_quantity, name))
    if new_price is not None:
        cursor.execute("UPDATE products SET price = ? WHERE name = ?", (new_price, name))
    
    conn.commit()
    conn.close()
    return f"Product '{name}' updated successfully."

# Example Usage:
edit_product("Rice", new_quantity=30, new_price=6.00)

"Product 'Rice' updated successfully."

In [8]:
view_products()

[(1, 'Milk', 18, 1.5),
 (2, 'Bread', 15, 2.0),
 (3, 'Eggs', 30, 3.0),
 (4, 'Rice', 30, 6.0),
 (5, 'Butter', 10, 4.5)]

In [9]:
add_product("Cheese", 5, 3.50)

"Product 'Cheese' added successfully."

In [10]:
purchase_product("Bread", 2)

'Purchased 2 x Bread for $4.00. Please pay at the counter.'

In [11]:
search_product("Eggs")

(3, 'Eggs', 30, 3.0)

In [12]:
edit_product("Butter", new_price=5.00)

"Product 'Butter' updated successfully."